---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="om">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minima quam
    dignissimos animi! Maiores reiciendis deleniti cupiditate porro ullam! Odio
    soluta at corrupti velit facilis excepturi recusandae sit neque provident.
  </p>
</MainLayout>

<style></style>
