---
import MainLayout from "../layouts/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
import AddForm from "../components/AddForm.astro";
---

<MainLayout title="Forside">
  <p>
    Denne tekst kommer kun på forsiden. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Velit repellendus quibusdam qui ipsa quae nulla ea
    deleniti eligendi recusandae asperiores nostrum sed mollitia iste officia
    aliquid, ratione fugiat! Facilis, eveniet?
  </p>
  <Testimonials />
  <AddForm />
</MainLayout>
